In [3]:
import pandas as pd 
from bs4 import BeautifulSoup
import numpy as np
import requests
import warnings
warnings.filterwarnings("ignore")

In [4]:
data = requests.get("https://www.police.gov.bd/en/crime_statistic/year/2010")
data

In [11]:
Parser = BeautifulSoup(data.text, 'html.parser')
Select = Parser.select('td')
Parser_again = BeautifulSoup(("".join(str(x) for x in Select)), 'html.parser')
Result = [td.text for td in Select]
Result[:18]

['DMP',
 '47',
 '220',
 '245',
 '363',
 '3',
 '1370',
 '139',
 '155',
 '555',
 '1915',
 '7228',
 '518',
 '82',
 '10535',
 '144',
 '11279',
 '23519']

In [16]:
P_Data = np.array(Result).reshape(19,18)
P_Data

df = pd.DataFrame({'Unit_Name': P_Data[:, 0], 'Dacoity': P_Data[:, 1], 'Robbery': P_Data[:, 2], 'Murder': P_Data[:, 3], 'Speedy_Trial': P_Data[:, 4], 
                   'Riot': P_Data[:, 5],'Woman&Child_Repression': P_Data[:, 6], 'Kidnapping': P_Data[:, 7],'Police_Assault': P_Data[:, 8], 'Burglary': P_Data[:, 9],
                   'Theft': P_Data[:, 10],'Other_Cases': P_Data[:, 11],'Arms_Act': P_Data[:, 12],'Explosive': P_Data[:, 13],'Narcotics': P_Data[:, 14]
                   ,'Smuggling': P_Data[:, 15],'Total_Recovered_Cases': P_Data[:, 16],'Total_Cases': P_Data[:, 17],'Year': 2010})

In [15]:
df.head()

,Unit_Name,Dacoity,Robbery,Murder,Speedy_Trial,Riot,Woman&Child_Repression,Kidnapping,Police_Assault,Burglary,Theft,Other_Cases,Arms_Act,Explosive,Narcotics,Smuggling,Total_Recovered_Cases,Total_Cases,Year
0,DMP,47,220,245,363,3,1370,139,155,555,1915,7228,518,82,10535,144,11279,23519,2010
1,CMP,16,108,94,31,7,455,37,31,123,314,1831,51,0,866,99,1016,4063,2010
2,KMP,3,9,29,25,0,153,11,4,65,91,551,19,2,792,13,826,1767,2010
3,RMP,4,20,21,9,15,157,9,12,53,106,578,3,4,332,248,587,1571,2010
4,BMP,8,12,19,21,0,112,6,8,24,83,557,17,0,155,117,289,1139,2010

In [17]:
link = "https://www.police.gov.bd/en/crime_statistic/year/"
year = 2011
for i in range(9):
    data_from_web = requests.get(link+str(year))
    Parser = BeautifulSoup(data_from_web.text, 'html.parser')
    Select = Parser.select('td')
    Parser_again = BeautifulSoup(("".join(str(x) for x in Select)), 'html.parser') 
    Result = Parser_again.find_all(text=True)
    P_Data = np.array(Result).reshape(19,18)
    dd = pd.DataFrame({'Unit_Name': P_Data[:, 0], 'Dacoity': P_Data[:, 1], 'Robbery': P_Data[:, 2], 'Murder': P_Data[:, 3], 'Speedy_Trial': P_Data[:, 4], 
                   'Riot': P_Data[:, 5],'Woman&Child_Repression': P_Data[:, 6], 'Kidnapping': P_Data[:, 7],'Police_Assault': P_Data[:, 8], 'Burglary': P_Data[:, 9],
                   'Theft': P_Data[:, 10],'Other_Cases': P_Data[:, 11],'Arms_Act': P_Data[:, 12],'Explosive': P_Data[:, 13],'Narcotics': P_Data[:, 14]
                   ,'Smuggling': P_Data[:, 15],'Total_Recovered_Cases': P_Data[:, 16],'Total_Cases': P_Data[:, 17],'Year': year})
    df = pd.concat([df,dd], ignore_index=True) # Here we are concatenating the datasets to make them only one dataset.
    year+=1
df.head()

,Unit_Name,Dacoity,Robbery,Murder,Speedy_Trial,Riot,Woman&Child_Repression,Kidnapping,Police_Assault,Burglary,Theft,Other_Cases,Arms_Act,Explosive,Narcotics,Smuggling,Total_Recovered_Cases,Total_Cases,Year
0,DMP,47,220,245,363,3,1370,139,155,555,1915,7228,518,82,10535,144,11279,23519,2010
1,CMP,16,108,94,31,7,455,37,31,123,314,1831,51,0,866,99,1016,4063,2010
2,KMP,3,9,29,25,0,153,11,4,65,91,551,19,2,792,13,826,1767,2010
3,RMP,4,20,21,9,15,157,9,12,53,106,578,3,4,332,248,587,1571,2010
4,BMP,8,12,19,21,0,112,6,8,24,83,557,17,0,155,117,289,1139,2010

In [19]:
df.shape

(190, 19)

In [18]:
df.tail()

,Unit_Name,Dacoity,Robbery,Murder,Speedy_Trial,Riot,Woman&Child_Repression,Kidnapping,Police_Assault,Burglary,Theft,Other_Cases,Arms_Act,Explosive,Narcotics,Smuggling,Total_Recovered_Cases,Total_Cases,Year
185,Railway Range,0,1,2,0,0,0,0,0,0,5,9,0,0,55,12,67,84,2019
186,GMP,2,3,3,1,0,22,1,2,2,8,65,3,0,130,2,135,244,2019
187,RPMP,0,0,1,0,0,12,1,0,0,6,33,0,0,68,0,68,121,2019
188,ATU,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2019
189,Total,32,68,351,48,1,1139,46,69,174,494,5428,174,30,9069,361,9634,17484,2019

In [24]:
df.to_csv("Police_Data.csv",index=False)

PermissionError: [Errno 13] Permission denied: 'Police_Data.csv'