In [1]:
import pandas as pd 
from bs4 import BeautifulSoup
import numpy as np
import requests
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = requests.get("https://www.worldometers.info/coronavirus/")
data

In [13]:
soup = BeautifulSoup(data.text, 'html.parser')
covid_table = soup.find("table", attrs={"id": "main_table_countries_today"})
head = covid_table.thead.find_all("tr") 
head

[<tr>
 <th width="1%">#</th>
 <th width="100">Country,<br>Other</br></th>
 <th width="20">Total<br>Cases</br></th>
 <th width="30">New<br>Cases</br></th>
 <th width="30">Total<br>Deaths</br></th>
 <th width="30">New<br>Deaths</br></th>
 <th width="30">Total<br>Recovered</br></th>
 <th width="30">New<br>Recovered</br></th>
 <th width="30">Active<br/>Cases</th>
 <th width="30">Serious,<br/>Critical</th>
 <th width="30">Tot Cases/<br/>1M pop</th>
 <th width="30">Deaths/<br/>1M pop</th>
 <th width="30">Total<br/>Tests</th>
 <th width="30">Tests/<br/>
 <nobr>1M pop</nobr>
 </th>
 <th width="30">Population</th>
 <th style="display:none" width="30">Continent</th>
 <th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
 </tr>]

In [14]:
headings = []
for th in head[0].find_all("th"):
    print(th.text)
    headings.append(th.text.replace("\n","").strip())
print(headings)

#
Country,Other
TotalCases
NewCases
TotalDeaths
NewDeaths
TotalRecovered
NewRecovered
ActiveCases
Serious,Critical
Tot Cases/1M pop
Deaths/1M pop
TotalTests
Tests/
1M pop

Population
Continent
1 Caseevery X ppl
1 Deathevery X ppl
1 Testevery X ppl
['#', 'Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical', 'Tot\xa0Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/1M pop', 'Population', 'Continent', '1 Caseevery X ppl', '1 Deathevery X ppl', '1 Testevery X ppl']

In [11]:
headings = []
for th in Select[0].find_all("th"):
    # remove any newlines and extra spaces from left and right
    print(th.text)
    #headings.append(td.b.text.replace('\n', ' ').strip())
    headings.append(th.text.replace("\n","").strip())
print(headings)

#
Country,Other
TotalCases
NewCases
TotalDeaths
NewDeaths
TotalRecovered
NewRecovered
ActiveCases
Serious,Critical
Tot Cases/1M pop
Deaths/1M pop
TotalTests
Tests/
1M pop

Population
Continent
1 Caseevery X ppl
1 Deathevery X ppl
1 Testevery X ppl
['#', 'Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical', 'Tot\xa0Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/1M pop', 'Population', 'Continent', '1 Caseevery X ppl', '1 Deathevery X ppl', '1 Testevery X ppl']

In [17]:
body = covid_table.tbody.find_all("tr") 
body[1]

<tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>25,666,296</td>
<td>+36,938</td>
<td>405,500</td>
<td>+477</td>
<td>24,070,030</td>
<td>+34,784</td>
<td>1,190,766</td>
<td>22,272</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
<td>
</td>
<td></td>
<td></td>
</tr>

In [19]:
data = []
for r in range(1,len(body)):
    row = []
    for tr in body[r].find_all("td"):
        row.append(tr.text.replace("\n","").strip())
    data.append(row)

In [22]:
df = pd.DataFrame(data,columns=headings)
df.head(10)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl
0,,Asia,"25,666,296","+36,938","405,500",+477,"24,070,030","+34,784","1,190,766","22,272",,,,,,Asia,,,
1,,South America,"18,685,264",+463,"483,214",+22,"16,820,664",+764,"1,381,386","18,932",,,,,,South America,,,
2,,Europe,"35,289,481","+55,863","839,015","+1,199","24,916,993","+45,262","9,533,473","26,698",,,,,,Europe,,,
3,,Africa,"4,004,118","+1,110","106,294",+14,"3,566,962","+1,393","330,862","2,585",,,,,,Africa,,,
4,,Oceania,"51,806",+25,"1,094",,"34,340",+12,"16,372",3,,,,,,Australia/Oceania,,,
5,,,721,,15,,706,,0,0,,,,,,,,,
6,,World,"117,852,237","+96,804","2,613,951","+2,063","93,519,507","+87,922","21,718,779","89,901","15,119",335.3,,,,All,,,
7,1,USA,"29,744,652",,"538,628",,"20,449,634",,"8,756,390","12,882","89,503","1,621","370,637,295","1,115,266","332,330,903",North America,11,617,1
8,2,India,"11,246,380","+1,756","157,985",+19,"10,899,394","+1,908","189,001","8,944","8,095",114,"222,716,796","160,312","1,389,271,622",Asia,124,"8,794",6
9,3,Brazil,"11,055,480",,"266,614",,"9,782,320",,"1,006,546","8,318","51,760","1,248","28,600,000","133,900","213,592,800",South America,19,801,7

In [23]:
data = df[df["#"]!=""].reset_index(drop=True)

In [25]:
data.head()

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl
0,1,USA,"29,744,652",,"538,628",,"20,449,634",,"8,756,390","12,882","89,503","1,621","370,637,295","1,115,266","332,330,903",North America,11,617,1
1,2,India,"11,246,380","+1,756","157,985",+19,"10,899,394","+1,908","189,001","8,944","8,095",114,"222,716,796","160,312","1,389,271,622",Asia,124,"8,794",6
2,3,Brazil,"11,055,480",,"266,614",,"9,782,320",,"1,006,546","8,318","51,760","1,248","28,600,000","133,900","213,592,800",South America,19,801,7
3,4,Russia,"4,342,474","+9,445","89,809",+336,"3,932,177","+9,931","320,488","2,300","29,748",615,"113,700,000","778,888","145,977,387",Europe,34,"1,625",1
4,5,UK,"4,223,232",,"124,566",,"3,278,629",,"820,037","1,542","61,988","1,828","96,520,517","1,416,709","68,130,111",Europe,16,547,1

In [30]:
data_final = data.drop(['NewRecovered','Continent','1 Caseevery X ppl','1 Deathevery X ppl','1 Testevery X ppl'],axis=1)

In [28]:
data_final.head()

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population
0,1,USA,"29,744,652",,"538,628",,"20,449,634",,"8,756,390","12,882","89,503","1,621","370,637,295","1,115,266","332,330,903"
1,2,India,"11,246,380","+1,756","157,985",+19,"10,899,394","+1,908","189,001","8,944","8,095",114,"222,716,796","160,312","1,389,271,622"
2,3,Brazil,"11,055,480",,"266,614",,"9,782,320",,"1,006,546","8,318","51,760","1,248","28,600,000","133,900","213,592,800"
3,4,Russia,"4,342,474","+9,445","89,809",+336,"3,932,177","+9,931","320,488","2,300","29,748",615,"113,700,000","778,888","145,977,387"
4,5,UK,"4,223,232",,"124,566",,"3,278,629",,"820,037","1,542","61,988","1,828","96,520,517","1,416,709","68,130,111"

In [29]:
data_final.to_csv("covid.csv",index=False)